# dependencies
node_modules/

# local env files
.env
.env.*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# logs
logs/
*.log

# database / data
data/
db/
chroma_db/
*.db
*.sqlite

# testing
coverage/
